@font-face {
    font-family: 'google_montserrat';
    src: url('../src/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'mexellent';
    src: url('../src/fonts/Mexcellent3D.ttf');
}

@font-face {
    font-family: 'discovery';
    src: url('../src/fonts/DISCOVERY.ttf');
}
@font-face {
    font-family: 'karma';
    src: url('../src/fonts/KarmaFuture.ttf');
}
@font-face {
    font-family: 'FatFace';
    src: url('../src/fonts/AbrilFatface-Regular.ttf');
}
@font-face {
    font-family: 'Orbitron';
    src: url('../src/fonts/Orbitron-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Comfortaa';
    src: url('../src/fonts/Comfortaa-VariableFont_wght.ttf');
}



* {
    margin: 0;
}


body {
background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}



.title-name {
    font-family: 'Comfortaa';  
    font-size: 52px;
    color: rgba(255,255,255);
    text-align: center;
    padding-top: 2vw;
    white-space: nowrap;
    overflow: hidden;    
    width: 300px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    margin-left: auto;
    margin-right: auto;
}

.heading_sub_text{
  color: white;
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Comfortaa';
  font-size: 20px;
  font-weight: 500;
  color: #888585;
}

.content_box{
  background-color: #a6d4fa;
  border-radius: 25px;
  width: 80%;
  margin-left: 10%;
  margin-top:40px;
  padding-bottom:50px;
}

.content_box_text{
  width:80%;
  font-family: 'Comfortaa';
  margin-left:10%;
  padding-top:20px;
}



.t2i {
    font-family:'Comfortaa';
    font-size: 32px;
    color: rgb(39, 39, 39);
    text-align: center;
    padding-top: 50px;
    text-align: center;


}


.options{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
}



.sub_options {
    font-family:'Comfortaa';
    font-size :24px;
    color: rgba(48, 38, 38, 0.582);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.options_div{
  width:33%;
}


  
  @media (max-width: 768px) {
    .card {
      width: calc(33.33% - 20px);
    }
  }

  .sub_text {
    color: white;
    text-align: center;
    padding-top: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    color: #888585;
  }

  .review_text {
    color: rgb(255, 255, 255);
    font-family: fantasy;
    font-size: 2vw;
    padding-top: 2vw;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
  }

  textarea {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1.2rem;
    width: 80%;
    margin-bottom: 20px;
    height: 150px;
    
  }

  input {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1.2rem;
    width: 80%;
    margin-bottom: 20px;
    height: 30px;
    
  }
  
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 2vw;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }

  .horizonatal_line{
    border-top: 1px solid rgb(255, 255, 255);
    width: 60%;
    margin-left: 20vw;
    margin-top: 7vw;
  }

  
  