   
@font-face {
    font-family: 'google_montserrat';
    src: url('../src/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'mexellent';
    src: url('../src/fonts/Mexcellent3D.ttf');
}

@font-face {
    font-family: 'discovery';
    src: url('../src/fonts/DISCOVERY.ttf');
}
@font-face {
    font-family: 'karma';
    src: url('../src/fonts/KarmaFuture.ttf');
}
* {
    margin: 0;
}

body {
    background-color: rgb(14, 13, 13) !important; 
}


.title-name {
    font-family: 'Source Code Pro', monospace;  
    font-size: 8vw;
    color: rgba(255,255,255,.70);
    text-align: center;
    padding-top: 2vw;
    white-space: nowrap;
    overflow: hidden;    
}





.t2i {
    font-family:'google_montserrat';
    line-height: 1.5em;
    font-size: 3vw;
    color: rgb(235, 225, 225);
    text-align: center;
    padding-top: 5vw;
    text-align: center;


}


.options{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}



.sub_options {
    font-family:'google_montserrat';
    font-size :2vw;
    color: rgba(48, 38, 38, 0.582);
    padding-top: 5vw;
    padding-left: 6vw;
    margin-right: 3vw;
}




/*   
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color: #c7ddee;
  }
  
  a {
    color:#fff7f779 !important;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  a:hover {
    color: #c43e3efa;
    text-shadow:0px 0px 30px #e94200;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  } */